.main__products {
    display: grid;
    margin-top: 40px;
    grid-template-rows: 260px 260px 260px;
    grid-template-columns: 260px 260px 260px;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}